.item-area {
  margin-top: 30px;

  .item {
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    float: left;
    -webkit-align-items: flex-end;
    align-items: flex-end;
    position: relative;
    height: 100%;
    background: rgba(28, 28, 31, 0.55);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
    transition: all 0.3s ease-out;
    min-height: 175px;

    .desc {
      width: 50%;
      height: 100%;
      padding: 10px;

      h2 {
        color: #84bd00;
        font-size: 17px;
        margin: 0;
        font-weight: 200;
      }

      > span {
        color: #b5b5b5;
        display: block;
        margin-top: 10px;
        font-size: 11px;
      }

      .play {
        position: absolute;
        right: 20%;
        top: 25%;
        transition: opacity 0.3s ease;
        opacity: 0;
        visibility: hidden;

        span {
          font-size: 40px;
          color: #fff;
        }
      }
    }

    .cover {
      width: 50%;
    }

    &:hover {
      background: rgb(28, 28, 31);
      filter: none !important;
      box-shadow: 0 0 73px rgba(0, 0, 0, 0.7);

      .play {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

.add-playlist-modal {
  background: rgba(10, 10, 10, 0.45);
  display: block;
  opacity: 1;
  overflow: visible;

  .modal-dialog {
    margin-top: 10%;
  }

  .modal-content {
    background: #000;
    border-radius: 0;
    border: 0;
    padding: 40px;

    h3 {
      color: #fff;
      font-size: 24px;
      text-transform: uppercase;
      padding-left: 15px;
      padding-right: 15px;
      letter-spacing: 2px;
      font-weight: 200;
      text-align: center;
      margin: 0 0 35px;
    }

    .form-group {
      input {
        background: #000;
        border-radius: 0;
        box-shadow: none;
        border-top: 0;
        border-left: 0;
        border-right: 0;
        border-color: #fff;
        color: #999999;

        &:focus {
          outline: none;
        }
      }
    }

    button.btn-primary {
      display: block;
      margin: 50px auto 0;

      &:hover {
        background: rgba(98, 7, 227, 0.72);
      }
    }

    .close {
      margin-top: -26px;
      margin-right: -17px;
      color: #fff;
      opacity: 1;
    }

    .public-title {
      float: left;
      color: #fff;
      font-size: 20px;
      text-transform: uppercase;
      padding-right: 25px;
      letter-spacing: 2px;
      font-weight: 200;
      margin-top: 20px;
    }
  }
}

.customSwitch {
  margin-top: 20px;
  cursor: pointer;
  float: left;
  position: relative;
  min-width: 80px;
  max-width: 80px;
  background: #add000;
  border-radius: 24px;
  padding: 5px;
  max-height: 30px;
  height: 30px;
  font-size: 12px;
}

.customSwitch .cs-circle {
  position: absolute;
  width: 23px;
  height: 23px;
  background: white;
  border-radius: 50%;
  top: 3px;
  left: 3px;
  z-index: 1;
  transition: all 0.5s;
}

.customSwitch .cs-item {
  transition: all 0.5s;
  color: #000;
  font-size: 12px;
  padding: 0 5px;

  .yes {
    float: right;
  }
}

.customSwitch .cs-item.on {
  padding: 0;
}

.customSwitch.on .cs-circle {
  left: 3px;
}

.customSwitch.off .cs-circle {
  left: 100%;
  transform: translateX(-26px);
}
