<div class="container">
  <h3 class="page-title">Playlist</h3>
  <div class="col-md-12">
    <p class="no-result" ng-if="playlistTracks.items.length == 0">No result</p>
    <div class="playlist" ng-if="playlistTracks.items.length > 0">
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>Song</th>
            <th>Artist</th>
            <th>Album</th>
          </tr>
        </thead>
        <tbody>
          <tr context-menu="menuOptions"
            ng-repeat="item in playlistTracks.items track by $index"
            class="{{trackCurrentIndex == $index ? 'playing' : ''}}">
            <td>
              <span ng-click="play($index)" class="glyphicon glyphicon-play-circle"></span>
              <span ng-click="pause()" class="glyphicon glyphicon-pause"></span>
            </td>
            <td>{{item.track.name}}</td>
            <td>{{item.track.artists[0].name}}</td>
            <td>{{item.track.album.name}}</td>
          </tr>
        </tbody>
      </table>
      <button class="more" ng-disabled="buttonLoading" ng-click="getPlaylistTracks()" ng-if="showMoreButton">More</button>
      <!-- <button class="more" ng-disabled="!buttonLoading" ng-click="search()" ng-if="showMoreButton">More</button> -->
      <div class="player-control" ng-if="playlistTracks.items.length > 0">
        <div class="play-pause col-md-4">
          <span ng-click="play('player')" ng-if="trackCurrentIndex == null" class="glyphicon glyphicon-play-circle"></span>
          <span ng-click="pause()" ng-if="trackCurrentIndex != null" class="glyphicon glyphicon-pause"></span>
        </div>
        <div class="col-md-6">

        </div>
        <div class="volume col-md-2">
          <span class="glyphicon" ng-class="listenToVolume(volume)"></span>
            <input id="volume" ng-change="setVolume()" ng-model="volume" type="range" min="0" max="100" value="100" step="1"></input>
        </div>
      </div>

    </div>
  </div>
</div>
